/*---:[ Thesis CSS reset ]:---*/
* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, abbr, acronym, fieldset {
	border: 0;
}
code {
	line-height: 1em;
}
pre {
	overflow: auto;
	clear: both;
	word-wrap: normal;
	-moz-tab-size: 4;
	tab-size: 4;
}
sub, sup {
	line-height: 0.5em;
}
img, .wp-caption {
	max-width: 100%;
	height: auto;
}
iframe, video, embed, object {
	display: block;
	max-width: 100%;
}
img {
	display: block;
}
.left, .alignleft, img[align="left"] {
	display: block;
	float: left;
}
.right, .alignright, img[align="right"] {
	display: block;
	float: right;
}
.center, .aligncenter, img[align="middle"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	float: none;
	clear: both;
}
.block, .alignnone {
	display: block;
	clear: both;
}
.wp-smiley {
	display: inline;
}
input[type="submit"], button {
	cursor: pointer;
	overflow: visible;
	-webkit-appearance: none;
}
html {
	-webkit-text-size-adjust: 100%;
}
* {
    margin: 0;
    padding: 0;
    word-wrap: break-word
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.618;
    color: #333333;
    background-color: #FFFFFF
}

.hidden {
    display: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.45
}

h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 1.45
}

h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.45;
    margin-top: 41px;
    margin-bottom: 14px;
    color: #333333
}

h3 {
    font-size: 1em;
    font-weight: 700;
    color: #333333
}

h4 {
    font-weight: 400
}

h5 {
    font-weight: 400
}

h6 {
    font-weight: 400
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

img,
abbr,
acronym,
fieldset {
    border: 0
}

code {
    line-height: 1em
}

pre {
    clear: both;
    overflow: auto;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

sub,
sup {
    line-height: .5em
}

img,
.wp-caption {
    max-width: 100%;
    height: auto
}

.wp-caption .wp-caption-text .wp-smiley {
    display: inline
}

.sidebar ul ul,
.sidebar ul ol,
.sidebar ol ul,
.sidebar ol ol,
.wp-caption p,
.sidebar .post_excerpt p {
    margin-bottom: 0
}

iframe,
video,
embed,
object {
    display: block;
    max-width: 100%
}

img {
    display: block
}

.left,
.alignleft,
img[align='left'] {
    display: block;
    float: left
}

.right,
.alignright,
img[align='right'] {
    display: block;
    float: right
}

.center,
.aligncenter,
img[align='middle'] {
    display: block;
    float: none;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.block,
.alignnone {
    display: block;
    clear: both
}

.wp-smiley {
    display: inline
}

input[type='submit'],
button {
    overflow: visible;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none
}

.sidebar {
    padding: 27px 0 0
}

.sidebar .sidebar_heading,
.sidebar .widget_title {
    font-variant: small-caps;
    margin-bottom: 10px;
    letter-spacing: 1px
}

.sidebar .input_submit {
    font-size: inherit
}

.sidebar .headline,
.sidebar .sidebar_heading,
.sidebar .widget_title {
    font-size: 17px;
    line-height: 24px
}

.widget,
.sidebar .text_box,
.sidebar .thesis_email_form,
.sidebar .query_box {
    margin-bottom: 38px
}

.sidebar .search-form .input_text,
.sidebar .thesis_email_form .input_text {
    width: 100%
}

.sidebar .thesis_email_form .input_text,
.widget li {
    margin-bottom: 10px
}

.sidebar .query_box .post_author,
.sidebar .query_box .post_date {
    color: #888888
}

.sidebar .left,
.sidebar .alignleft,
.sidebar .ad_left {
    margin-right: 19px
}

.sidebar p,
.sidebar ul,
.sidebar ol,
.sidebar blockquote,
.sidebar pre,
.sidebar dl,
.sidebar dd,
.sidebar .left,
.sidebar .alignleft,
.sidebar .ad_left,
.sidebar .right,
.sidebar .alignright,
.sidebar .ad,
.sidebar .center,
.sidebar .aligncenter,
.sidebar .block,
.sidebar .alignnone {
    margin-bottom: 19px
}

.sidebar ul ul,
.sidebar ul ol,
.sidebar ol ul,
.sidebar ol ol,
.sidebar .right,
.sidebar .alignright,
.sidebar .ad,
.sidebar .stack {
    margin-left: 19px
}

a {
    text-decoration: none;
    color: #DD0000
}

p a {
    text-decoration: underline
}

p a:hover {
    text-decoration: none
}

/* ************************************************
*
*  Menu
*
***************************************************/
.menu-box {
    display: block;
    position: relative;
    z-index: 50;
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
    background: #3D9FD0;
}

.menu_control {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1.618em;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3D9FD0;
}

.menu {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 1.618em;
    list-style: none;
    color: #FFFFFF;
    background-color: #3D9FD0;
}

.menu li a {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1.618em;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: inherit;
    background-color: #3D9FD0;
}

/* ===[ Hover Color ]=== */
.menu li a:hover {
    color: #333333;;
    background-color: #DDDDDD
}

/* ===[ Active Color ]=== */
.menu li.current-menu-item > a {
    font-weight: bolder;
    cursor: text;
    color: #333333;;
    background-color: #FFFFFF
}

.menu .sub-menu {
    display: block;
    position: static;
    margin: 0;
    padding-left: 1.618em;
    list-style: none;
    color: inherit;
    background-color: #3D9FD0;
}

/* ===[ Menu Borders ]=== */
/* top-menu  */
.menu li > a {
    border: 1px solid #888888
}

/* sub-menu  */
.menu .sub-menu a {
    margin: -1px 0 0;
    border: 1px solid #888888
}

/* active */
.menu li.current-menu-item > a {
    border-bottom-color: #FFFFFF
}

.menu {
    display: none
}

.menu-box:hover .menu {
    display: block
}

.mega-menu-visible {
    display: none
}

@media all and (min-width:960px) {
    .menu_control {
        display: none
    }

    .menu {
        display: block;
        padding: 0;
    }

    .menu .sub-menu {
        display: none;
        position: absolute;
        z-index: 110;
        width: 182px;
        padding: 0;
    }

    .menu .sub-menu .sub-menu {
        top: 0;
        left: 182px;
        margin: 0 0 0 -1px;
    }

    .menu li {
        float: left;
        position: relative;
        width: auto;
    }

    .menu .sub-menu li {
        clear: both;
        width: 100%;
    }

    .menu li:hover > .sub-menu {
        display: block;
        background-color: #333333;;
    }

    /* ===[ Menu Borders ]=== */
    /* top-menu */    
    .menu li > a {
        border-right: none;
        border-left: none;
    }

    /* sub-menu */
    /* No change */
    
    /* active */
    /* No change */

    .mega-menu-visible {
        display: block;
        position: absolute;
        z-index: 100;
        width: inherit;
        background-color: #333333;;
    }

    #mega-menu-item-recents:hover {
        display: block;
        position: absolute;
        z-index: 100;
        width: inherit;
        background-color: #333333;;
    }
}

.header-box {
    padding: 27px 0
}

.header-box .social {
    display: block;
    text-align: right
}

.header-box .phone {
    display: block;
    font-size: 2em;
    font-weight: 400;
    margin: 15px 0;
    text-align: right
}

#thesis_header_image {
    width: auto;
    height: auto;
    max-height: 150px
}

#site_title {
    font-size: 2em;
    font-weight: 700;
    line-height: 3em;
    color: #333333
}

#site_title a {
    color: #333333
}

#site_title a:hover {
    color: #DD0000
}

#site_tagline {
    font-size: 1em;
    color: #888888
}

.grt .headline {
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 1.5em;
    margin: 0
}

.grt .drop_cap {
    float: left;
    font-size: 3em;
    margin-right: .15em
}

.grt ul,
.grt ol,
.grt .stack {
    margin-left: 27px
}

.grt .caption {
    margin-top: -14px;
    color: #888888
}

.grt blockquote.right,
.grt blockquote.left {
    font-size: 26px;
    width: 45%;
    margin-bottom: 14px;
    border: 0;
    padding-left: 0
}

.post_box {
    border-top: 1px dotted #DDDDDD;
    padding: 27px 0 0
}

.post_box .author_description_intro {
    font-weight: 700
}

.post_box .headline_area .headline {
    margin-bottom: 0
}

.post_box .author_description {
    border-top: 1px dotted #DDDDDD;
    padding-top: 27px
}

.post_box .author_description .avatar {
    float: left;
    width: 78px;
    height: 78px;
    margin-right: 14px;
    margin-left: 0
}

.post_box blockquote {
    margin-left: 14px;
    border-left: 1px solid #DDDDDD;
    padding-left: 14px;
    color: #888888
}

.grt p,
.grt ul,
.grt ol,
.grt blockquote,
.grt pre,
.grt dl,
.grt dd,
.grt .center,
.grt .block,
.grt .caption,
.post_box .aligncenter,
.post_box .alignnone,
.post_box .post_image,
.post_box .post_image_box,
.post_box .wp-caption,
.post_box .wp-post-image,
.post_box .alert,
.post_box .note,
.headline_area {
    margin-bottom: 27px
}

.post_box .wp-caption img,
.post_box .post_image_box .post_image,
.post_box .thumb {
    margin-bottom: 14px
}

.post_box .wp-caption p {
    font-size: 13px
}

.grt ul ul,
.grt ul ol,
.grt ol ul,
.grt ol ol,
.wp-caption p,
.post_box .alert p:last-child,
.post_box .note p:last-child,
.post_content blockquote.right p,
.post_content blockquote.left p {
    margin-bottom: 0
}

.grt .right,
.post_box .alignright,
.post_box .ad {
    margin-bottom: 27px;
    margin-left: 27px
}

.grt .left,
.post_box .alignleft,
.post_box .ad_left {
    margin-right: 27px;
    margin-bottom: 27px
}

.post_box .post_cats,
.post_box .post_tags {
    color: #888888
}

.post_box .headline,
.headline a {
    color: #333333
}

.post_box .headline {
    margin-bottom: 27px
}

.post_box .avatar {
    float: right;
    clear: both;
    width: 61px;
    height: 61px;
    margin-left: 14px
}

.post_box .alert,
.post_box .note {
    padding: 14px
}

.post_box .frame,
.post_box .post_image_box,
.post_box .wp-caption {
    border: 1px solid #DDDDDD;
    padding: 14px;
    background-color: #FFFFFF
}

.post_box .alert {
    border: 1px solid #e6e68a;
    background-color: #ffff99
}

.post_box .note {
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF
}

.icon,
.post_box .icon {
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 20px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left center
}

.post_box code {
    font-family: Consolas,Monaco,Menlo,Courier,Verdana,sans-serif
}

.post_box pre {
    font-family: Consolas,Monaco,Menlo,Courier,Verdana,sans-serif;
    padding: 14px;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    background-color: #FFFFFF;
}

.post_box ul {
    list-style-type: square
}

.top {
    border-top: 0
}

.headline a:hover {
    color: #DD0000
}

.byline a {
    border-bottom: 1px solid #DDDDDD
}

.byline a:hover,
.num_comments {
    color: #111111
}

.byline,
.byline a {
    color: #888888
}

.post_author_intro,
.post_date_intro,
.byline .post_cats_intro {
    font-style: italic
}

.byline .post_edit {
    margin-left: 14px
}

.byline .post_edit:first-child {
    margin-left: 0
}

.byline a,
.post_author,
.post_date {
    letter-spacing: 1px;
    text-transform: uppercase
}

.post_content li a {
    text-decoration: underline
}

.post_content li a:hover {
    text-decoration: none
}

.wp-caption.aligncenter img {
    margin-right: auto;
    margin-left: auto
}

.num_comments_link {
    display: inline-block;
    margin-bottom: 27px;
    text-decoration: none;
    color: #888888
}

.num_comments_link:hover {
    text-decoration: underline
}

.bracket,
.num_comments {
    font-size: 1.5em
}

.bracket {
    color: #DDDDDD
}

.archive_intro {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #DDDDDD
}

.archive_intro .headline {
    margin-bottom: 27px
}

.prev_next {
    clear: both;
    border-top: 1px solid #DDDDDD;
    padding: 14px 27px;
    color: #888888
}

.prev_next .next_posts {
    float: right
}

.previous_posts,
.next_posts {
    display: block;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.previous_posts a:hover,
.next_posts a:hover {
    text-decoration: underline
}

#comments {
    margin-top: 54px
}

.comments_intro {
    margin-bottom: 14px;
    padding: 0 27px;
    color: #888888
}

.comments_closed {
    font-size: 13px;
    margin: 0 27px 27px;
    color: #888888
}

.comment_list {
    margin-bottom: 54px;
    border-top: 1px dotted #DDDDDD;
    list-style-type: none
}

.comment {
    border-bottom: 1px dotted #DDDDDD;
    padding: 27px
}

.comment .comment_author {
    font-weight: 700
}

.comment .comment_head {
    margin-bottom: 14px
}

.comment #commentform {
    margin-top: 0;
    padding-right: 0;
    padding-left: 0
}

.comment .avatar {
    float: right;
    width: 54px;
    height: 54px;
    margin-left: 14px
}

.children .comment {
    margin-top: 27px;
    border-bottom: 0;
    border-left: 1px solid #DDDDDD;
    padding: 0 0 0 27px;
    list-style-type: none
}

.children .bypostauthor {
    border-color: #DD0000;
    background-color: transparent
}

.children .comment_head {
    margin-bottom: 0
}

.comment_date {
    font-size: 13px;
    margin-left: 14px;
    color: #888888
}

.comment_date a {
    color: #888888
}

.comment_footer a {
    font-size: 13px;
    margin-left: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #888888
}

.comment_footer a:first-child {
    margin-left: 0
}

.comment_head a:hover,
.comment_footer a:hover,
.comment_nav a:hover {
    text-decoration: underline
}

.comment_nav {
    font-size: 13px;
    padding: 14px 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-style: dotted;
    border-color: #DDDDDD
}

.header-box > .container:after,
.columns:after,
.menu:after,
.post_box:after,
.post_content:after,
.author_description:after,
.sidebar:after,
.query_box:after,
.prev_next:after,
.comment_text:after,
.comment_nav:after,
.footer:after {
    display: block;
    visibility: hidden;
    clear: both;
    font-size: 0;
    width: 0;
    height: 0;
    content: '.'
}

.comment_nav_top {
    border-width: 1px 0 0
}

.comment_nav_bottom {
    margin: -54px 0 54px;
    border-width: 0 0 1px
}

.next_comments {
    float: right
}

.input_text {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    padding: .35em;
    color: #111111;
    background-color: #FFFFFF
}

.input_text:focus {
    border-color: #FFFFFF;
    background-color: #FFFFFF
}

textarea.input_text {
    line-height: 1.618
}

.input_submit {
    overflow: visible;
    font-family: inherit;
    font-size: 1.11em;
    font-weight: 700;
    line-height: 1em;
    border: 3px double #DDDDDD;
    padding: .5em;
    cursor: pointer;
    background: #FFFFFF url(images/bg-button.png) repeat-x
}

#commentform {
    margin: 54px 0;
    padding: 0 27px
}

#commentform textarea.input_text {
    width: 100%
}

#commentform .input_text {
    width: 50%
}

#commentform label {
    display: block
}

#commentform p {
    margin-bottom: 14px
}

#commentform p .required {
    color: #dd0000
}

.comment_form_title {
    font-size: 1.11em;
    margin: 0 -27px;
    border-bottom: 1px dotted #DDDDDD;
    padding: 0 27px 14px;
    color: #333333
}

.comment_moderated {
    font-weight: 700
}

#cancel-comment-reply-link {
    float: right;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DD0000
}

#cancel-comment-reply-link:hover {
    text-decoration: underline
}

.login_alert {
    font-weight: 700;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF
}

.sidebar {
    font-size: 13px
}

.widget ul {
    list-style-type: none
}

.widget li a:hover {
    text-decoration: underline
}

.sidebar .post_content,
.widget li ul,
.widget li ol {
    margin-top: 10px
}

.footer-box {
    font-size: 13px;
    border-top: 3px double #DDDDDD;
    color: #888888
}

.footer-box a {
    color: #888888
}

.footer-box a:hover {
    color: #111111
}

.icon-1 {
    background-image: url(images/icon-1.png)
}

.icon-2 {
    background-image: url(images/icon-2.png)
}

.icon-3 {
    background-image: url(images/icon-3.png)
}

.icon-4 {
    background-image: url(images/icon-4.png)
}

.icon-5 {
    background-image: url(images/icon-5.png)
}

.icon-6 {
    background-image: url(images/icon-6.png)
}

.icon-7 {
    background-image: url(images/icon-7.png)
}

.icon-8 {
    background-image: url(images/icon-8.png)
}

.icon-9 {
    background-image: url(images/icon-9.png)
}

.icon-10 {
    background-image: url(images/icon-10.png)
}

.ss li a:active {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3),inset 0 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3),inset 0 0 10px rgba(0,0,0,.3);
    box-shadow: inset 0 0 10px rgba(0,0,0,.3),inset 0 0 10px rgba(0,0,0,.3)
}

.ss li a,
.ss li a:hover,
.ssm li a,
.ssm li a:hover {
    padding: 0;
    background: none;
    text-shadow: none
}

.ssm li a:active {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3),inset 0 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3),inset 0 0 10px rgba(0,0,0,.3);
    box-shadow: inset 0 0 10px rgba(0,0,0,.3),inset 0 0 10px rgba(0,0,0,.3)
}

.ss {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left
}

.ss li.customicon1 {
    background-position: 0 0
}

.ss li.customicon1:hover {
    background-position: 0 -40px
}

.ss li.stumbleupon {
    background-position: 0 -1360px
}

.ss li.stumbleupon:hover {
    background-position: 0 -1400px
}

.ss li.customicon2 {
    background-position: 0 0
}

.ss li.customicon2:hover {
    background-position: 0 -40px
}

.ss li.googleplus {
    background-position: 0 -400px
}

.ss li.googleplus:hover {
    background-position: 0 -440px
}

.ss li.deviantart {
    background-position: 0 -2960px
}

.ss li.deviantart:hover {
    background-position: 0 -3000px
}

.ss li.foursquare {
    background-position: 0 -2320px
}

.ss li.foursquare:hover {
    background-position: 0 -2360px
}

.ss li.pinterest {
    background-position: 0 -1040px
}

.ss li.pinterest:hover {
    background-position: 0 -1080px
}

.ss li.wordpress {
    background-position: 0 -1680px
}

.ss li.wordpress:hover {
    background-position: 0 -1720px
}

.ss li.instagram {
    background-position: 0 -2240px
}

.ss li.instagram:hover {
    background-position: 0 -2280px
}

.ss li.linkedin {
    background-position: 0 -720px
}

.ss li.linkedin:hover {
    background-position: 0 -760px
}

.ss li.bandcamp {
    background-position: 0 -2800px
}

.ss li.bandcamp:hover {
    background-position: 0 -2840px
}

.ss li.dribbble {
    background-position: 0 -80px
}

.ss li.dribbble:hover {
    background-position: 0 -120px
}

.ss li.facebook {
    background-position: 0 -160px
}

.ss li.facebook:hover {
    background-position: 0 -200px
}

.ss li.myspace {
    background-position: 0 -800px
}

.ss li.myspace:hover {
    background-position: 0 -840px
}

.ss li.aboutme {
    background-position: 0 -2720px
}

.ss li.aboutme:hover {
    background-position: 0 -2760px
}

.ss li.youtube {
    background-position: 0 -1840px
}

.ss li.youtube:hover {
    background-position: 0 -1880px
}

.ss li.twitter {
    background-position: 0 -1520px
}

.ss li.twitter:hover {
    background-position: 0 -1560px
}

.ss li.behance {
    background-position: 0 -2000px
}

.ss li.behance:hover {
    background-position: 0 -2040px
}

.ss li.github {
    background-position: 0 -1920px
}

.ss li.github:hover {
    background-position: 0 -1960px
}

.ss li.lastfm {
    background-position: 0 -640px
}

.ss li.lastfm:hover {
    background-position: 0 -680px
}

.ss li.zerply {
    background-position: 0 -2400px
}

.ss li.zerply:hover {
    background-position: 0 -2440px
}

.ss li.forrst {
    background-position: 0 -320px
}

.ss li.forrst:hover {
    background-position: 0 -360px
}

.ss li.icloud {
    background-position: 0 -560px
}

.ss li.icloud:hover {
    background-position: 0 -600px
}

.ss li.picasa {
    background-position: 0 -960px
}

.ss li.picasa:hover {
    background-position: 0 -1000px
}

.ss li.paypal {
    background-position: 0 -880px
}

.ss li.paypal:hover {
    background-position: 0 -920px
}

.ss li.reddit {
    background-position: 0 -1120px
}

.ss li.reddit:hover {
    background-position: 0 -1160px
}

.ss li.flickr {
    background-position: 0 -240px
}

.ss li.flickr:hover {
    background-position: 0 -280px
}

.ss li.tumblr {
    background-position: 0 -1440px
}

.ss li.tumblr:hover {
    background-position: 0 -1480px
}

.ss li.yahoo {
    background-position: 0 -1760px
}

.ss li.yahoo:hover {
    background-position: 0 -1800px
}

.ss li.skype {
    background-position: 0 -1280px
}

.ss li.skype:hover {
    background-position: 0 -1320px
}

.ss li.html5 {
    background-position: 0 -480px
}

.ss li.html5:hover {
    background-position: 0 -520px
}

.ss li.share {
    background-position: 0 -2560px
}

.ss li.share:hover {
    background-position: 0 -2600px
}

.ss li.vimeo {
    background-position: 0 -1600px
}

.ss li.vimeo:hover {
    background-position: 0 -1640px
}

.ss li.digg {
    background-position: 0 0
}

.ss li.digg:hover {
    background-position: 0 -40px
}

.ss li.xing {
    background-position: 0 -3040px
}

.ss li.xing:hover {
    background-position: 0 -3080px
}

.ss li.star {
    background-position: 0 -2480px
}

.ss li.star:hover {
    background-position: 0 -2520px
}

.ss li.mail {
    background-position: 0 -2160px
}

.ss li.mail:hover {
    background-position: 0 -2200px
}

.ss li.viki {
    background-position: 0 -2880px
}

.ss li.viki:hover {
    background-position: 0 -2920px
}

.ss li.yelp {
    background-position: 0 -2080px
}

.ss li.yelp:hover {
    background-position: 0 -2120px
}

.ss li.doc {
    background-position: 0 -2640px
}

.ss li.doc:hover {
    background-position: 0 -2680px
}

.ss li.rss {
    background-position: 0 -1200px
}

.ss li.rss:hover {
    background-position: 0 -1240px
}

.ss li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    border-right: 1px solid #050505;
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: none;
    padding: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.ss li {
    background: url(images/socialsprites.png) no-repeat
}

.ss li:first-child {
    border-left: 1px solid;
    border-left-color: rgb(5,5,5);
    border-left-color: rgba(0,0,0,.2)
}

.ss li:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.ss li a {
    display: block;
    width: 40px;
    height: 40px
}

.ss,
.ssm {
    display: inline-block;
    font-size: 0;
    background-color: #eeeeee
}

.ssm li.customicon1 {
    background-position: 0 0
}

.ssm li.customicon1:hover {
    background-position: 0 -40px
}

.ssm li.customicon2 {
    background-position: 0 0
}

.ssm li.customicon2:hover {
    background-position: 0 -40px
}

.ssm li.stumbleupon {
    background-position: 0 -1020px
}

.ssm li.stumbleupon:hover {
    background-position: 0 -1050px
}

.ssm li.foursquare {
    background-position: 0 -1740px
}

.ssm li.foursquare:hover {
    background-position: 0 -1770px
}

.ssm li.googleplus {
    background-position: 0 -300px
}

.ssm li.googleplus:hover {
    background-position: 0 -330px
}

.ssm li.deviantart {
    background-position: 0 -2220px
}

.ssm li.deviantart:hover {
    background-position: 0 -2250px
}

.ssm li.instagram {
    background-position: 0 -1680px
}

.ssm li.instagram:hover {
    background-position: 0 -1710px
}

.ssm li.pinterest {
    background-position: 0 -780px
}

.ssm li.pinterest:hover {
    background-position: 0 -810px
}

.ssm li.wordpress {
    background-position: 0 -1260px
}

.ssm li.wordpress:hover {
    background-position: 0 -1290px
}

.ssm li.facebook {
    background-position: 0 -120px
}

.ssm li.facebook:hover {
    background-position: 0 -150px
}

.ssm li.bandcamp {
    background-position: 0 -2100px
}

.ssm li.bandcamp:hover {
    background-position: 0 -2130px
}

.ssm li.linkedin {
    background-position: 0 -540px
}

.ssm li.linkedin:hover {
    background-position: 0 -570px
}

.ssm li.dribbble {
    background-position: 0 -60px
}

.ssm li.dribbble:hover {
    background-position: 0 -90px
}

.ssm li.behance {
    background-position: 0 -1500px
}

.ssm li.behance:hover {
    background-position: 0 -1530px
}

.ssm li.youtube {
    background-position: 0 -1380px
}

.ssm li.youtube:hover {
    background-position: 0 -1410px
}

.ssm li.myspace {
    background-position: 0 -600px
}

.ssm li.myspace:hover {
    background-position: 0 -630px
}

.ssm li.twitter {
    background-position: 0 -1140px
}

.ssm li.twitter:hover {
    background-position: 0 -1170px
}

.ssm li.aboutme {
    background-position: 0 -2040px
}

.ssm li.aboutme:hover {
    background-position: 0 -2070px
}

.ssm li.reddit {
    background-position: 0 -840px
}

.ssm li.reddit:hover {
    background-position: 0 -870px
}

.ssm li.paypal {
    background-position: 0 -660px
}

.ssm li.paypal:hover {
    background-position: 0 -690px
}

.ssm li.zerply {
    background-position: 0 -1800px
}

.ssm li.zerply:hover {
    background-position: 0 -1830px
}

.ssm li.icloud {
    background-position: 0 -420px
}

.ssm li.icloud:hover {
    background-position: 0 -450px
}

.ssm li.picasa {
    background-position: 0 -720px
}

.ssm li.picasa:hover {
    background-position: 0 -750px
}

.ssm li.forrst {
    background-position: 0 -240px
}

.ssm li.forrst:hover {
    background-position: 0 -270px
}

.ssm li.flickr {
    background-position: 0 -180px
}

.ssm li.flickr:hover {
    background-position: 0 -210px
}

.ssm li.lastfm {
    background-position: 0 -480px
}

.ssm li.lastfm:hover {
    background-position: 0 -510px
}

.ssm li.tumblr {
    background-position: 0 -1080px
}

.ssm li.tumblr:hover {
    background-position: 0 -1110px
}

.ssm li.github {
    background-position: 0 -1440px
}

.ssm li.github:hover {
    background-position: 0 -1470px
}

.ssm li.vimeo {
    background-position: 0 -1200px
}

.ssm li.vimeo:hover {
    background-position: 0 -1230px
}

.ssm li.yahoo {
    background-position: 0 -1320px
}

.ssm li.yahoo:hover {
    background-position: 0 -1350px
}

.ssm li.share {
    background-position: 0 -1920px
}

.ssm li.share:hover {
    background-position: 0 -1950px
}

.ssm li.skype {
    background-position: 0 -960px
}

.ssm li.skype:hover {
    background-position: 0 -990px
}

.ssm li.html5 {
    background-position: 0 -360px
}

.ssm li.html5:hover {
    background-position: 0 -390px
}

.ssm li.digg {
    background-position: 0 0
}

.ssm li.digg:hover {
    background-position: 0 -30px
}

.ssm li.viki {
    background-position: 0 -2160px
}

.ssm li.viki:hover {
    background-position: 0 -2190px
}

.ssm li.yelp {
    background-position: 0 -1560px
}

.ssm li.yelp:hover {
    background-position: 0 -1590px
}

.ssm li.xing {
    background-position: 0 -2280px
}

.ssm li.xing:hover {
    background-position: 0 -2310px
}

.ssm li.mail {
    background-position: 0 -1620px
}

.ssm li.mail:hover {
    background-position: 0 -1650px
}

.ssm li.star {
    background-position: 0 -1860px
}

.ssm li.star:hover {
    background-position: 0 -1890px
}

.ssm li.doc {
    background-position: 0 -1980px
}

.ssm li.doc:hover {
    background-position: 0 -2010px
}

.ssm li.rss {
    background-position: 0 -900px
}

.ssm li.rss:hover {
    background-position: 0 -930px
}

.ssm li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    border-right: 1px solid;
    border-bottom: none;
    padding: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-right-color: #050505;
    border-right-color: rgba(0,0,0,.2)
}

.ss.ss_white,
.ssm.ssm_white {
    background-color: #333333;
}

.ssm li {
    background: url(images/socialsprites_mini.png) no-repeat
}

.ssm li:first-child {
    border-left: 1px solid #050505;
    border-left: 1px solid rgba(0,0,0,.2)
}

.ssm.ssm_white li {
    background: url(images/socialsprites_mini_wht.png) no-repeat
}

.ss.ss_white li {
    background: url(images/socialsprites_wht.png) no-repeat
}

.ssm li:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.ssm li a {
    display: block;
    width: 30px;
    height: 30px
}

.socialbar_mini {
    z-index: 999;
    width: 100%;
    height: 30px;
    padding: 0
}

.ssm {
    font-size: 0;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left
}

.socialbar {
    z-index: 999;
    font-size: 0;
    width: 100%;
    min-height: 40px;
    padding: 0;
    background: #ffffff
}

.socialbar:after {
    clear: left;
    content: ' '
}

.socialbar_transparent {
    z-index: 999;
    font-size: 0;
    width: 100%;
    min-height: 40px;
    padding: 0
}

.socialbar_transparent:after {
    clear: left;
    content: ' '
}

.borderless li {
    border: none
}

.borderless li:first-child {
    border: none
}

ul.borderless li {
    border: none
}

ul.borderless li:first-child {
    border: none
}

.sssquare {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.sscircle li {
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px rgba(0,0,0,.3);
    box-shadow: 0 2px rgba(0,0,0,.3)
}

.sscircle li:hover,
.sscircle li a:active {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.container,
.container.fixed {
    width: 320px;
    max-width: 320px
}

.grid {
    position: relative;
    font-size: 0
}

.grid-item {
    display: inline-block;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 97.92%;
    margin-right: 1.04%;
    margin-left: 1.04%;
    vertical-align: top
}

.grid-1 {
    width: 6.25%
}

.grid-2 {
    width: 14.59%
}

.grid-3 {
    width: 22.92%
}

.grid-4 {
    width: 31.25%
}

.grid-5 {
    width: 39.59%
}

.grid-6 {
    width: 47.92%
}

.grid-7 {
    width: 56.25%
}

.grid-8 {
    width: 64.59%
}

.grid-9 {
    width: 72.92%
}

.grid-10 {
    width: 81.25%
}

.grid-11 {
    width: 89.59%
}

.grid-12 {
    width: 97.92%
}

@media all and (min-width:320px) {
    .container {
        width: auto;
        max-width: 479px;
    }

    .container.fixed {
        width: 310px
    }

    .g320-1 {
        width: 6.25%
    }

    .g320-2 {
        width: 14.59%
    }

    .g320-3 {
        width: 22.92%
    }

    .g320-4 {
        width: 31.25%
    }

    .g320-5 {
        width: 39.59%
    }

    .g320-6 {
        width: 47.92%
    }

    .g320-7 {
        width: 56.25%
    }

    .g320-8 {
        width: 64.59%
    }

    .g320-9 {
        width: 72.92%
    }

    .g320-10 {
        width: 81.25%
    }

    .g320-11 {
        width: 89.59%
    }

    .g320-12 {
        width: 97.92%
    }
}

@media all and (min-width:480px) {
    .container {
        width: auto;
        max-width: 719px;
    }

    .container.fixed {
        width: 470px
    }

    .g480-1 {
        width: 6.25%
    }

    .g480-2 {
        width: 14.59%
    }

    .g480-3 {
        width: 22.92%
    }

    .g480-4 {
        width: 31.25%
    }

    .g480-5 {
        width: 39.59%
    }

    .g480-6 {
        width: 47.92%
    }

    .g480-7 {
        width: 56.25%
    }

    .g480-8 {
        width: 64.59%
    }

    .g480-9 {
        width: 72.92%
    }

    .g480-10 {
        width: 81.25%
    }

    .g480-11 {
        width: 89.59%
    }

    .g480-12 {
        width: 97.92%
    }
}

@media all and (min-width:720px) {
    .container {
        width: auto;
        max-width: 959px;
    }

    .container.fixed {
        width: 720px
    }

    .g720-1 {
        width: 6.25%
    }

    .g720-2 {
        width: 14.59%
    }

    .g720-3 {
        width: 22.92%
    }

    .g720-4 {
        width: 31.25%
    }

    .g720-5 {
        width: 39.59%
    }

    .g720-6 {
        width: 47.92%
    }

    .g720-7 {
        width: 56.25%
    }

    .g720-8 {
        width: 64.59%
    }

    .g720-9 {
        width: 72.92%
    }

    .g720-10 {
        width: 81.25%
    }

    .g720-11 {
        width: 89.59%
    }

    .g720-12 {
        width: 97.92%
    }
}

@media all and (min-width:960px) {
    .container,
    .container.fixed {
        width: 960px;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }

    .g960-1 {
        width: 6.25%
    }

    .g960-2 {
        width: 14.59%
    }

    .g960-3 {
        width: 22.92%
    }

    .g960-4 {
        width: 31.25%
    }

    .g960-5 {
        width: 39.59%
    }

    .g960-6 {
        width: 47.92%
    }

    .g960-7 {
        width: 56.25%
    }

    .g960-8 {
        width: 64.59%
    }

    .g960-9 {
        width: 72.92%
    }

    .g960-10 {
        width: 81.25%
    }

    .g960-11 {
        width: 89.59%
    }

    .g960-12 {
        width: 97.92%
    }
}

.row {
    clear: both;
    width: 100%
}

.header-box {
    position: relative;
    width: 100%;
    color: inherit;
    background: none
}

.intro {
    position: relative;
    width: 100%
}

.intro-box {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(images/intro-bg-1.jpg) no-repeat -261px -111px
}

.attribution {
    float: right;
    clear: both
}

@media all and (max-width:960px) {
    .sidebar .search-form .input_text,
    .sidebar .thesis_email_form .input_text {
        width: 50%
    }
}

@media all and (max-width:720px) {

}

@media all and (max-width:480px) {

}

.c2g_teaser_item {
    display: inline-block;
    text-align: left
}

.c2g_teaser_item .c2g_teaser_thumbnail {
    display: inline-block;
    line-height: 150px;
    width: 25%;
    background: #555555
}

.c2g_teaser_item .c2g_teaser_thumbnail img {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle
}

.c2g_teaser_item .c2g_teaser_excerpt {
    display: inline-block;
    width: 71%;
    margin: 2%
}

.c2g_teaser_item .c2g_teaser_title {
    display: block;
    width: 100%
}

@media all and (min-width:720px) {
    .c2g_teaser .g720-4 {
        text-align: center
    }

    .g720-4 .c2g_teaser_title {
        width: 100%
    }

    .g720-4 .c2g_teaser_thumbnail {
        width: 150px;
        height: 150px;
    }

    .g720-4 .c2g_teaser_excerpt {
        width: 100%
    }
}

#mc_embed_signup {
    line-height: 23px
}

#mc_embed_signup .email {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 23px;
    padding: 3px
}

#mc-embedded-subscribe {
    line-height: 23px;
    padding: 0 10px
}

.template-front .container .columns .content .post_box {
    margin-bottom: 20px
}

.featured_image {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

.featured_image .child-nav ul li.separator {
    display: none
}

.featured_image .child-nav-container {
    position: absolute;
    top: 0;
    left: -4px
}

.featured_image .child-nav ul li {
    display: block;
    clear: both;
    width: 100%;
    margin-bottom: 1.4px;
    border-bottom: none;
    padding: 0 15px
}

.featured_image .child-nav ul li a {
    display: block;
    position: relative;
    left: -15px;
    font-weight: 100;
    padding: 3px 0 3px 21px;
    text-transform: uppercase;
    color: #fefefe;
    background: url(images/child_nav_arrow.png) no-repeat scroll 0 -4px;
    background-color: #e59739;
    background-color: rgba(229,151,57,.75)
}

.featured_image .child-nav ul li a:hover {
    color: #cccccc
}

.featured_image img {
    width: auto;
    height: auto;
    background-color: #dadada;
    -webkit-box-shadow: 0 4px 9px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 4px 9px 3px rgba(0,0,0,.4);
    box-shadow: 0 4px 9px 3px rgba(0,0,0,.4);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=5),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=45,strength=5),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=5),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=5),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=10),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=225,strength=5),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=270,strength=5),progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=315,strength=5)';
    -ms-zoom: 1
}

#breadcrumbs,
.child-nav ul {
    display: block;
    clear: both;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    margin: 10px 0;
    list-style: none outside none
}

#breadcrumbs .separator,
.child-nav .separator {
    font-size: 20px;
    font-weight: 700;
    color: #999999
}

#breadcrumbs li,
.child-nav li {
    float: left;
    margin-right: 2px
}

.child-nav .child-thumb {
    width: 150px;
    height: 150px;
    margin: 7px;
    border: 1px solid #d1d1d1;
    background: none repeat scroll 0 0;
    background-color: #eaeaea;
    background-color: rgba(0,0,0,.1);
    box-shadow: 1px 1px 3px 0 #050505;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.25)
}

.child-thumb a {
    display: block;
    line-height: 150px;
    text-align: center
}

.child-thumb a img {
    display: inline;
    vertical-align: middle
}

.featured_image {
    position: relative
}

.page-not-found {
    font-size: 24px;
    line-height: 36px;
    margin: 20px auto;
    text-align: center
}

.page-not-found h2 {
    font-size: 36px;
    line-height: 60px
}

.bottom {
    vertical-align: bottom
}

.box-hr {
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    background: url(images/bg-sectionsep.png) no-repeat top
}

.post_nav {
    display: inline-block
}

.post_nav .prev_next {
    display: block;
    width: 100%;
    border: none;
    padding: 0
}

.post_nav .prev_next .previous_post,
.post_nav .prev_next .next_post {
    display: inline-block
}

.post_nav .prev_next a {
    padding-right: 5px;
    padding-left: 5px;
    color: #eeeeee
}

.post_nav .prev_next p {
    margin-bottom: 0
}

#header #site_title a,
#header #site_tagline {
    display: none
}#header #site_title a, #header #site_tagline {
	display: none;
}

/*---:[ custom CSS ]:---*/
h2 {
	font-weight: 400;
	color: #016394;
}

.header-box {
	background: #6BCDFE;
}

.header-box #site_tagline {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	text-shadow: .5px .5px #888;
	color: #ffff33;
}

.menu-box {
	border-top: 5px solid #298bbc;
	background: #3D9FD0;
	box-shadow: 0 3px 3px 0 #206084;	
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
}
.menu-box .menu {
	font-size: 14px;
}

.menu-box .menu a {
	padding: .5em .75em;
	text-transform: none;
	font-weight: 400;
    border-color: #298bbc;
}

/* top-menu  */
.menu-box .menu > li > a {
    border: none;
}

.intro-box {
	width: 100%;
	background: url('/wp-content/uploads/2015/03/ankafunds_bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-shadow: 0 3px 3px 0 rgb(50,50,50);	
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
}

.intro-box .widget_text {
	position: absolute;
	top: 50px;
	padding: 20px 10px;
	width: 320px;
	height: 250px;
	background: #D5E2E9;
	background: rgba(255,255,255,.80);
	border-radius: 3px;
	color: #333;
	font-weight: 300;
}

.intro-box .widget_text ul {
	list-style: square;
	margin: 0 0 0 20px;
}

.intro-box .widget_text .widget_title {
	font-size: 1.5em;
	font-weight: 400;
	margin: 0 0 10px 0;
}

.intro-widget {
	text-align: center;
	background: rgba(180,180,180,.25);
}

.intro-widget .textwidget {
	display: inline-block;
	padding: 15px 0;
	min-width: 310px;
	width: 50%;
	text-align: left;
	font-family: "Times";
	font-size: 1.5em;
	line-height: 1.618;
	color: #333333;
}

.intro-widget blockquote {
	font-style: italic;
}

.intro-widget .textwidget p {
	text-align: right;
}

.footer-box {
    border: none;
}